<!-- Link Tracker -->
<%= link_to linktracker_path do %>
	<div class="panel panel-default home-panel">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Link Tracker</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Quickly add UTM tracking parameters to your marketing campaign links.
	  </div>
	</div>
<% end %>

<!-- Bar Chart -->
<%= link_to barchart_path do %>
	<div class="panel panel-default home-panel">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Bar Chart</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Paste your data straight from excel and instantly create a bar chart.
	  </div>
	</div>
<% end %>

<!-- Line Chart -->
<%= link_to linechart_path do %>
	<div class="panel panel-default home-panel">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Line Chart</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Paste your data straight from excel and instantly create a line chart.
	  </div>
	</div>
<% end %>

<!-- Campaign Calculator -->
<%= link_to campaigncalculator_path do %>
	<div class="panel panel-default home-panel">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Campaign Calculator</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Quickly calculate the performance of your marketing campaigns.
	  </div>
	</div>
<% end %>

<!-- A/B Significance -->
<%= link_to absignificance_path do %>
	<div class="panel panel-default home-panel">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">A/B Significance</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Calculate the statistical significance of A/B Tests with the click of a button.
	  </div>
	</div>
<% end %>

<!-- Budget Runrate -->
<%= link_to budgetrunrate_path do %>
	<div class="panel panel-default home-panel">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Budget RunRate</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Calculate how long your budget will last at the current run rate.
	  </div>
	</div>
<% end %>

<!-- Encoder / Decoder -->
<%= link_to encoderdecoder_path do %>
	<div class="panel panel-default home-panel">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Encoder / Decoder</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Paste in your URLs and decode / encode with the click of a button.
	  </div>
	</div>
<% end %>

<!-- Tab to CSV -->
<%= link_to tabtocsv_path do %>
	<div class="panel panel-default home-panel">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Tab to CSV</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Convert Tab Delimited Text into Comma Seperated Values (CSV).
	  </div>
	</div>
<% end %>

<!-- Tab to JSON -->
<%= link_to tabtojson_path do %>
	<div class="panel panel-default home-panel">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Tab to JSON</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Convert Tab Delimited Text into JavaScript Object Notation (JSON).
	  </div>
	</div>
<% end %>

<!-- Tab to JSON -->
<%= link_to csvtojson_path do %>
	<div class="panel panel-default home-panel">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">CSV to JSON</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Convert Comma Seperated Values (CSV) into JavaScript Object Notation (JSON).
	  </div>
	</div>
<% end %>

