<!-- Link Tracker -->
<%= link_to linktracker_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Link Tracker</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Quickly add UTM tracking parameters to your marketing campaign links.
	  </div>
	</div>
<% end %>

<!-- Campaign Calculator -->
<%= link_to campaigncalculator_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Campaign Calculator</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Quickly calculate the performance of your marketing campaigns.
	  </div>
	</div>
<% end %>

<!-- Encoder / Decoder -->
<%= link_to encoderdecoder_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Encoder / Decoder</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Paste in your URLs and decode / encode with the click of a button.
	  </div>
	</div>
<% end %>

<!-- Tab to CSV -->
<%= link_to tabtocsv_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Tab to CSV</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Convert Tab Delimited Text into Comma Seperated Values (CSV) with one click.
	  </div>
	</div>
<% end %>

<!-- next ones to work on

<%= link_to famousblogposts_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Famous BlogPosts</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    A rundown of the best blogposts that every marketer should read.
	  </div>
	</div>
<% end %>
<%= link_to adsizes_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Ad Sizes</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    A guide to the best performing ad sizes for display advertising campaigns.
	  </div>
	</div>
<% end %>
-->


<!-- other ones to work on

<%= link_to socialstats_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Social Stats</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Social Stats.
	  </div>
	</div>
<% end %>
<%= link_to percentcalculator_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Percent Calculator</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Percent Calculator.
	  </div>
	</div>
<% end %>
<%= link_to followerfinder_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Follower Finder</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    Find the number of followers for a list of Twitter handles.
	  </div>
	</div>
<% end %>
<%= link_to absignificance_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">A/B Significance</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for A/B Significance.
	  </div>
	</div>
<% end %>
<%= link_to descriptivestatistics_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Descriptive Statistics</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Descriptive Statistics. 
	  </div>
	</div>
<% end %>
<%= link_to bubblechart_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Bubble Chart</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Bubble Chart.
	  </div>
	</div>
<% end %>
<%= link_to editorialcalendar_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Editorial Calendar</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Editorial Calendar.
	  </div>
	</div>
<% end %>
<%= link_to exceltips_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Excel Tips</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Excel Tips.
	  </div>
	</div>
<% end %>
<%= link_to famousblogposts_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Famous Blogposts</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Famous Blogposts.
	  </div>
	</div>
<% end %>
<%= link_to graduatetest_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Graduate Test</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Graduate Test.
	  </div>
	</div>
<% end %>
<%= link_to runrate_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Run Rate</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Run Rate.
	  </div>
	</div>
<% end %>
<%= link_to sharedcount_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Shared Count</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Shared Count.
	  </div>
	</div>
<% end %>
<%= link_to treediagram_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">Tree Diagram</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for Tree Diagram.
	  </div>
	</div>
<% end %>
<%= link_to urlvalidator_path do %>
	<div class="panel panel-default">
		<div class="panel-heading">
	    <h3 class="panel-title">
	    	<button type="button" class="btn btn-primary btn-lg btn-block">URL Validator</button>
	    </h3>
	  </div>
	  <div class="panel-body text-center">
	    This is the copy for URL Validator.
	  </div>
	</div>
<% end %>
 -->