<% content_for :title do %>About OpenAdTools | Open-Source Tools for Performance Marketers.<% end %>
<% content_for :description do %>OpenAdTools is a collection of open-source tools, designed for use by performance marketers. The tools are free to use, don't require you to hand over an email or password and don't store any personal or sensitive information about you or your company.<% end %>

<div class="page-header">
  <h1>About OpenAdTools</h1>
  <p class="lead">Open-source tools for performance marketers.</p>
</div>

<p class="lead">OpenAdTools is a collection of open-source tools, designed for use by performance marketers. The tools are free to use, don't require you to hand over an email or password and don't store any personal or sensitive information about you or your company. We'll announce all new tools and features on Twitter <%= link_to "@OpenAdTools", "https://twitter.com/OpenAdTools", target: "_blank" %>.

<hr>

<h3>The Story So Far</h3>

<p>First of all thank you for checking out OpenAdTools! I'm <%= link_to "Michael Taylor", "https://www.linkedin.com/in/mjt145" %>, a performance marketer who is slowly learning how to code. Having seen the power of automation with Microsoft Excel, I wanted to learn more with the aim of one day automating my entire job and taking off to travel the world.</p>

<p>As I got acquainted with the world of computer programming, I became increasingly dumbfounded by the hard-working, intelligent developers that would put in countless hours answering questions for free on <%= link_to "Stack Overflow", "http://stackoverflow.com/tour", target: "_blank" %>, writing <%= link_to "free tutorials", "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book", target: "_blank" %>, and giving their work away for free on <%= link_to "GitHub", "https://github.com/", target: "_blank" %>.</p>

<p>Thanks to their irrational generosity, I'm now in a position where I can start paying it forward. This site is a repository for whatever tools I build as I continue to learn. Hopefully you find the site useful and are in a position to pay it forward one day.</p>

<p>In order to make OpenAdTools as useful as possible, I'm designing every tool on this site under these three main principles:</p>

<h3>1) No Purchase Necessary</h3>
<p>These tools are, and always will be, free to use. Even if I turned evil you could just clone the source code in <%= link_to "GitHub", "https://github.com/mjt145/openadtools", target: "_blank" %> and make your own version.</p>

<h3>2) No Login Required</h3>
<p>I don't want your email address to spam you, and I don't want to make you remember yet another password. Whilst this means your data disappears when you close your browser, you can easily store the output in Excel for later use.</p>

<h3>3) No Personal Data Stored</h3>
<p>I want you to be able to use this tool without getting permission from your boss or worrying about my database being hacked, so none of these tools collect or store any valuable or personal data about you or your company.</p>

<h3>Questions, Suggestions, Criticisms</h3>
<p>I'm sure you'll run into issues with some of these tools, or you'll have great ideas about how to improve them. I really appreciate any feedback you can give me - Twitter is the best place to <%= link_to "contact me personally", "https://twitter.com/2michaeltaylor", target: "_blank" %>. If you're a developer (of any skill level) and you want to get involved, then 100% please get in touch - I'd love to have you contribute!</p>

<p>Thanks,</p>

<p>Michael Taylor</p>
