<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "OpenAdTools | Open-Source Tools for Performance Marketers." %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Open-Source Tools for Performance Marketers. No Purchase Necessary, No Login Required and No Personal Data Stored." %>">
  <meta name="google-site-verification" content="wUGytZ0fj4hSIQ6b3f7XrxrYPRLnAk7-YdqcnCE2NZs" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= yield(:head) %>
</head>
<body>

	<%= render 'layouts/navbar' %>
  
  <%= render 'layouts/tweet' %>

  <div class="wrapper">

  	<div class="container">

  		<%= render 'layouts/messages' %>

      <a name="top"></a>

  	  <%= yield %>

      <%= render 'layouts/disclaimer' %>

  	</div><!-- /.container -->
    <div class="push"></div>
  </div>

  <br>

	<%= render 'layouts/footer' %>

  <script src="//platform.twitter.com/widgets.js"></script>

</body>
</html>
